# torch >= 0.4.1
# torchvision
argparse
scipy
opencv-python
opencv-contrib-python
matplotlib
numpy<2 # not compatible with numpy 2.0
imageio
tqdm
tensorflow
tensorboardX
tqdm
pyyaml
imageio
imgaug
jupyter
scikit-learn

torchgeometry
torchsummary
coloredlogs
